name: Build docker container

on:
  workflow_dispatch:
  release:

jobs:

  build_docker_container:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
          platforms: linux/amd64, linux/arm64
          push: true
          tags: |
              czlucas/ttn-gateway-prometheus-exporter:${{ github.ref_name }}-${{ github.sha }}
              czlucas/ttn-gateway-prometheus-exporter:latest
          
    - name: COPY CONTAINER IMAGE NAME
      run: echo "CONTAINER IMAGE:" ${{ github.ref_name }}-${{ github.sha }}