# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go
name: Go Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - name: Get dependencies
      run: go get -v -t -d ./...

    - name: Build
      run: go build -v ./...

    - name: Run Tests and Generate Results
      run: |
        go test -v ./... | tee result.log
        go test -v ./... -json > result.json
      continue-on-error: true  # Allows the pipeline to continue even if tests fail

    - name: Upload Test Results
      uses: actions/upload-artifact@v3
      with:
        name: test-results
        path: result.json
